my_n8n_workflow_template.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger (Alert)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-alert-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook (Slack Alert)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 150]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert SRE and DevOps assistant. An alert has fired and the alert data is provided in the input. Follow this exact workflow:\n1. Parse all the fields of the incoming alert from the input payload.\n2. Use the **GitHubRunbookSearcher** to find the exact file path of the relevant runbook by service name. Once you get the file path, use the **GitHubRunbookReader** to retrieve the markdown content.\n3. Use the **PrometheusQuery** or **GraylogSearch** tools to pull metrics and logs to investigate the root cause.\n4. Check cluster/container status via the **KubernetesKubectl**, **DockerComposeSSH**, or **NginxSSH** tools. For Kubernetes, provide the exact kubectl command (e.g., 'kubectl get pods').\n5. If it is a minor issue (e.g., restarting a stuck pod or container), execute the fix using the relevant restricted tools. For Kubernetes, use **KubernetesKubectlDelete**. CRITICAL: If you need to restart multiple pods, you MUST delete them strictly ONE BY ONE. After deleting a pod, you MUST use the **KubernetesKubectl** tool to verify the replacement pod is 'Running' and 'Ready' before deleting the next pod. NEVER delete multiple pods simultaneously.\n6. If it is a major issue (e.g., node failure, persistent high latency), immediately summarize the investigation and use the **SlackEscalation** tool to alert a human.\n7. After taking action, generate a short final report summarizing the alert, your investigation, and any fixes applied or escalations made. This final report will be sent directly to the dedicated Slack channel.",
        "options": {
          "systemMessage": "You are an intelligent SRE Agent. Always verify commands before executing them on infrastructure."
        }
      },
      "id": "agent-orchestrator",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [250, 0]
    },
    {
      "parameters": {
        "model": "={{$vars.OLLAMA_MODEL}}",
        "options": {
          "temperature": 0.1,
          "baseUrl": "={{$vars.OLLAMA_BASE_URL}}"
        }
      },
      "id": "model-ollama",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [250, 250]
    },
    {
      "parameters": {},
      "id": "memory-buffer",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [400, 250]
    },
    {
      "parameters": {
        "name": "PrometheusQuery",
        "description": "Call this to query Prometheus for metric data. Input should be a valid PromQL query string.",
        "method": "GET",
        "url": "={{$vars.PROMETHEUS_URL}}/api/v1/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$fromAI('query')}}"
            }
          ]
        }
      },
      "id": "tool-prometheus",
      "name": "Prometheus Request",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, -250]
    },
    {
      "parameters": {
        "name": "GitHubRunbookSearcher",
        "description": "Searches the GitHub repository for runbooks. Input should be a search term (e.g., service name). Returns a list of matching file paths.",
        "method": "GET",
        "url": "https://api.github.com/search/code?q={{$fromAI('search_term')}}+repo:{{$vars.GITHUB_RUNBOOK_REPO}}+extension:md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$vars.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        }
      },
      "id": "tool-github-search",
      "name": "GitHub Runbook Searcher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, -100]
    },
    {
      "parameters": {
        "name": "GitHubRunbookReader",
        "description": "Reads the raw content of a markdown runbook. Input must be the exact file path obtained from GitHubRunbookSearcher (e.g., 'docs/services/auth.md').",
        "method": "GET",
        "url": "https://api.github.com/repos/{{$vars.GITHUB_RUNBOOK_REPO}}/contents/{{$fromAI('file_path')}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$vars.GITHUB_TOKEN}}" },
            { "name": "Accept", "value": "application/vnd.github.v3.raw" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        }
      },
      "id": "tool-github-read",
      "name": "GitHub Runbook Reader",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, -25]
    },
    {
      "parameters": {
        "name": "SlackEscalation",
        "description": "Escalates major issues to a human. Input must be a detailed message explaining the alert, metrics found, and why it requires human intervention.",
        "method": "POST",
        "url": "={{$vars.SLACK_ESCALATION_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"text\": \"🚨 *SRE AI Escalation* 🚨\\n{{$fromAI('message')}}\"}"
      },
      "id": "tool-slack",
      "name": "Slack Webhook",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 50]
    },
    {
      "parameters": {
        "name": "DockerComposeSSH",
        "description": "Executes docker-compose commands via SSH. Allowed actions: ps, logs, top, restart. Pass the exact command string.",
        "workflowId": "REPLACE_WITH_YOUR_SUBWORKFLOW_ID"
      },
      "id": "tool-docker",
      "name": "Docker Compose SSH",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "name": "KubernetesKubectl",
        "description": "Executes read-only kubectl commands via SSH. Allowed actions: get, describe, logs, top. Pass the exact command string.",
        "workflowId": "REPLACE_WITH_YOUR_SUBWORKFLOW_ID"
      },
      "id": "tool-kubectl",
      "name": "Kubernetes Kubectl",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [600, 350]
    },
    {
      "parameters": {
        "name": "KubernetesKubectlDelete",
        "description": "Executes kubectl delete pod commands via SSH. Pass the exact command string (e.g., 'kubectl delete pod my-pod-name -n default').",
        "workflowId": "REPLACE_WITH_YOUR_SUBWORKFLOW_ID"
      },
      "id": "tool-kubectl-delete",
      "name": "Kubernetes Kubectl Delete",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [600, 425]
    },
    {
      "parameters": {
        "name": "NginxSSH",
        "description": "Executes NGINX management commands via SSH. Allowed: nginx -t, systemctl status/restart/reload nginx. Pass the exact command string.",
        "workflowId": "REPLACE_WITH_YOUR_SUBWORKFLOW_ID"
      },
      "id": "tool-nginx",
      "name": "NGINX SSH",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [600, 500]
    },
    {
      "parameters": {
        "name": "GraylogSearch",
        "description": "Searches logs in Graylog. Input should be a valid search query string.",
        "method": "GET",
        "url": "={{$vars.GRAYLOG_URL}}/search/universal/relative",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$vars.GRAYLOG_API_TOKEN}}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{$fromAI('query')}}" },
            { "name": "range", "value": "300" }
          ]
        }
      },
      "id": "tool-graylog",
      "name": "Graylog Search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 650]
    },
    {
      "parameters": {
        "channel": "={{$vars.SLACK_REPORT_CHANNEL}}",
        "text": "={{$json.output}}",
        "otherOptions": {}
      },
      "id": "slack-report",
      "name": "Send Report to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 0],
      "credentials": {
        "slackApi": {
          "id": "slack_credentials",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger (Alert)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Slack Alert)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prometheus Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Runbook Searcher": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Runbook Reader": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Webhook": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Docker Compose SSH": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Kubernetes API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Kubernetes Pod Restarter": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NGINX SSH": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Graylog Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Report to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
